body {
    background-color: #282828;
    font-family: Arial, sans-serif;
    
    p, li, am, em {
        color: #fff;
    }
}

h1, h2 {
    color: #7473ee;
}

.flex-container {
    display: flex;
}

#header > p > b {
    color: rgb(229, 232, 29);
}

#section2 > ol > li > a {
    color: #ff0000;
}

#section4 li:first-child span {
    font-family: monospace;
}

#section4 li:nth-child(2) span {
    font-family: cursive;
}

#section3 > div > p:nth-child(1)::after {
    background-image: url('../images/mymood_happy.jpeg');
}

#section3 > div > p:nth-child(2)::after {
    background-image: url('../images/mymood_sad.webp');
}

#section3 > div > p::after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: cover;
    margin-left: 10px;
}

