body {
    background-color: white;
    color: #404040;
    font-family: Georgia, Garamond, serif;
    font-size: 11pt;
}

#container {
    width: 1024px;
    margin: 0 auto;
}

h1, h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}

h2 {
    font-size: 18pt;
}

a {
    color: #A4A400;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-image: url('../images/pie_icon.gif');
}

ul span[title] {
    text-decoration: underline;
    cursor: pointer;
}

ul span[title]:hover::after {
    content: attr(title);
    position: absolute;
    background: #FFFFA8;
    padding: 5px;
    border: 1px solid #A4A400;
}

ol {
    margin-left: 20px;
}

strong {
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

.comment {
    background-color: #FFFFA8;
    margin: 10px 0;
    padding: 10px;
}

.comment i {
    display: block;
    margin-bottom: 5px;
}

#validators {
    display: flex;
    justify-content: center;
}

#validators img {
    margin: 0 10px;
}

h1, h2 {
    letter-spacing: 0.25em;
}

pre {
    font-family: monospace;
    white-space: pre;
}
